<table id="detailedInfoDataTable" data-toggle="table" data-sortable="true" data-show-toggle="true" data-height="600"
    data-show-columns="true" data-show-columns-toggle-all="true" data-search="true" data-show-export="true">
    <thead>
        <tr>
            {{!-- {{#each attributes as |attribute|}}
            <th data-field="{{attribute}}" data-sortable="true">{{attribute}}</th>
            {{/each}} --}}
            {{!-- <th data-field="un_row_id_random12345613" data-sortable="true">id</th> --}}
            {{!-- <th data-field="clust_assignment" data-sortable="true">Cluster</th> --}}
        </tr>
    </thead>
</table>