<div class="card hierRestBox" id="hierRest_{{id}}">
    <div class="card-body">
        {{#each rests as |rest|}}
        <span> {{rest.[0]}}{{rest.[1]}}{{rest.[2]}}</span>
        {{/each}}
    </div>
</div>