<div class="card recommendItem weightRecommnedElem" id="{{id}}">
    <div class="card-body">
        <span>
            <h5 class="card-title">Gewichtung anpassen für Attribut: {{att}}</h5>
        </span>
        <div class="recommendCompareDiv">
            <p>{{{text}}}</p>
        </div>
        <a href="#" class="btn btn-primary btn-adj-weight">Gewichtung anpassen?</a>
    </div>
</div>